<div class="fix">
<div class="col-md-8 offset-md-3">
    <div class="fix">
      <h4 style="color: #9AAA04;">Employee Edit</h4>
      <form (ngSubmit)="onUpdate()">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationServer01">Name :</label>
            <input type="text" class="form-control is-valid" id="validationServer01" [(ngModel)]="person.name" name="name" placeholder="Name" required> 
          </div>
          </div>
          <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationServer02">Address :</label>
            <input type="text" class="form-control is-valid" id="validationServer02" [(ngModel)]="person.address" name="address" placeholder="Address" required>
          </div>
          </div>
          <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationServer02">Job :</label>
            <input type="text" class="form-control is-valid" id="validationServer02" [(ngModel)]="person.job" name="job" placeholder="Job" required>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Edit</button>
      </form>
    </div>
    </div>
  </div>
    